 i.material-icons.red-text{
   color: indianred;
 }
 a {
   text-decoration: none;
 }
 i.material-icons.grey-text.text-darken-2 {
  color: rgb(158, 155, 155);
  font-size: 25px;
 }
 .grey-text.text-darken-2 {
  color: rgb(158, 155, 155);
  font-size: 20px;
 }
 .red-text {
   font-size: 20px;
   color: rgb(3, 3, 3);
 }