.signupPage {
  text-align: center;
  line-height: 40px;
  margin: auto;
}
.signup_text {
  padding: 10px;
  font-size: 50px;
}
.field {
  border-radius: 8px;
  width: 100%;
  height: 80px;
}
.actions {
  display: inline-block;
  transition: 0.4s ease;
  width: 320px;
  height: 80px;
  margin: 15px auto;

 

  input {
    background: #619fd1;
    color: #ffffff;
    width: 220px;
    height: 60px;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    
    &:hover {
      color: #447ead;
    }
  }
}

input#user_nickname {
  width: 320px;
  height: 40px;
  border-radius: 4px;
}
input#user_email {
  @extend #user_nickname
}
input#user_password {
  @extend #user_nickname
}
input#user_password_confirmation{
  margin-bottom: 15px;
  @extend #user_nickname
}